{% extends 'catalog/base.html' %}

{% block title %}Главная - ShopMaster{% endblock %}

{% block content %}
<h1>Добро пожаловать в ShopMaster</h1>
<p>Это главная страница каталога.</p>
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|truncatewords:20 }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
